.output {
  margin-top: 10px;
}

.tip {
  margin: 20px auto;
  text-align: center;
}

.itemCard {
  display: flex;
  flex-flow: column nowrap;  
  max-width: 600px;  
  margin: 0 auto;
  border: 3px solid var(--delimiter);
}

.itemName {
  color: #dd9e55;
  border-bottom: 1px solid var(--delimiter);
  text-align: center;  
  font-weight: 700;
  padding: 15px 5px;
  font-size: 1.5rem;
}

.enchantDescription {
  display: flex;
  align-items: center;
  position: relative;
  padding: 10px 5px;
}

.enchantDescription:not(:first-of-type) {
  border-top: 1px solid var(--delimiter);
}

.enchTypeIndicator {
  display: inline-block; 
  position: relative; 
  width: 1rem;
  height: 1rem;
  border-radius: 2px; 
  flex-shrink: 0;   
}

.ancientEnch .enchTypeIndicator {   
  background-color: var(--relicEnchColor);
}

.primaryEnch .enchTypeIndicator {
  background-color: var(--primaryEnchColor);
}

.enchText {
  margin-left: 5px;
}

.lock {
  flex-shrink: 0;
  background: rgb(207, 6, 6);
  border-radius: 3px;
  width: 16px;
  height: 12px;  
  margin-left: auto;
  position: relative;
  display: inline-block;
  top: 3px;
  transition: 0.3s all;
}

.lock:before {
  content: "";
  display: block;
  position: absolute;
  border:3px solid rgb(207, 6, 6);
  top: -8px;
  left: 2.3px;
  width: 12px;
  height: 12px;
  border-radius: 35px 35px 0 0;
  transition: 0.3s all;
}

.lock:hover {
  background: rgb(46, 207, 6);
  cursor: pointer;
}

.lock:hover::before {
  border-color: rgb(46, 207, 6);
}

/* [data-tooltip] {
  position: relative;  
}

[data-tooltip]::after { 
  content: '';
  width: 300px;
  left: 0%;
  top: 55%; 
  transform: translate(0, -55%);
  transition: 0.5s all;
  opacity: 0;
}

[data-tooltip]:hover::after {  
  content: attr(data-tooltip);
  position: absolute;  
  width: 300px; 
  left: 125%;   
  top: 55%; 
  transform: translate(0, -55%);
  background: black; 
  color: #fff; 
  padding: 0.25rem;        
  z-index: 1;    
  text-align: center; 
  transition: 0.5s all; 
  opacity: 1;   
}   */

[data-tooltip] {
  position: relative; 
}

[data-tooltip]::after {
  content: attr(data-tooltip); 
  text-align: center;
  position: absolute; 
  width: clamp(260px, 100vw, 450px);   
  top: 55%; 
  transform: translateY(-55%);
  background: #3989c9; 
  color: #fff; 
  padding: 0.25rem; 
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3); 
  opacity: 0; 
  pointer-events: none;
  transition: 0.5s; 
  z-index: 1;
} 

[data-tooltip]:hover::after { 
  opacity: 1;   
}

@media screen and (min-width: 1400px) {
  .itemCard {
    max-width: 800px;
  }

  [data-tooltip]::after {
    left: 0; 
  }

  [data-tooltip]:hover::after {  
    left: 125%;       
  }
}

@media screen and (min-width: 701px) and (max-width: 1399px) {
  [data-tooltip]::after {
    top: 0;    
    transform: translate(-75%, 0%);
  }

  [data-tooltip]:hover::after {  
    top: -2.5rem;
  }
}

@media screen and (max-width: 700px) {
  [data-tooltip]::after {
    right: 0;
  }

  [data-tooltip]:hover::after {      
    right: 105%;
  }
}

@media screen and (max-width: 320px) {
  [data-tooltip]::after {
    max-width: calc(100vw - 25px);
  }
}